/* font-family: "Montserrat Regular"; */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* "Montserrat Bold" */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
/* "Roboto Regular"; */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
  /* "Roboto Bold" */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
/* "Roboto Bold Italic" */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}
/* "Roboto Italic" */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
/* "Roboto Light" */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
/* "Roboto Light Italic" */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}
/* "Roboto Medium" */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
/* "Roboto Medium Italic" */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
}
/* "Roboto Thin" */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}
/* "Roboto Thin Italic" */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 100;
}
/* "Roboto Black" */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
/* "Roboto Black Italic" */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 900;
}
