$body-font:               'Montserrat', sans-serif;
$content-font:            'Roboto', sans-serif;

$primary-color:            #ff4e50;

$primary-title-color:      #333;
$secondary-title-color:    #fff; // over colored background: header, photos

$primary-btn-color:        #ff4e50;
$secondary-btn-color:      #fff; // over colored background

$primary-content-color:     #666; // partner info, footer menu
$secondary-content-color:   #ccc; // slide, copyights
