@import "_fonts";
@import "_mixins";
@import "_variables";
@import "_sprite";

html {
  @include box-sizing(border-box);
}
*,
*:before,
*:after {
  @include box-sizing(inherit);
}

body {
  font-family: $body-font;
  background: #fff;
  overflow-x: hidden;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

@import "mobile";

@media screen and (min-width: 768px) {
  @import "tablet";
}
@media screen and (min-width: 960px) {
  @import "desktop";
}
