/*HEADER*/
.container {
  min-width: 320px;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 540px;
  color: $secondary-title-color;
  background: #d1d1d0 url(../img/header-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}
.authorization {
  padding: 19px 0 19px;
  width: 194px;
  margin: 0 auto;
}
.btn {
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
}
.authorization__btn {
  @include border-radius(18px);
  float: left;
  font-size: 14px;
  color: $secondary-btn-color;
  height: 36px;
  line-height: 34px;
  border: 2px solid transparent;
  &:hover {
    border-color: $secondary-btn-color;
  }
}
.authorization__btn_login {
  width: 82px;
}
.authorization__btn_signup {
  width: 90px;
}
.logo {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.logo_header {
  color: $secondary-title-color;
  font-size: 20px;
  padding: 99px 0 20px 0;
  letter-spacing: 0.9px;
}
.title {
  text-align: center;
  font-weight: 700;
}
.header__title {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 10px 0 9px 2px;
}
.header__subtitle {
  font-family: $content-font;
  font-size: 18px;
  font-weight: 300;
  width: 220px;
  margin: 0 auto;
  padding: 0 0 5px 0;
  line-height: 1.2;
}
.search-btn {
  @include border-radius(20px);
  width: 280px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  margin: 0 auto;
}
.search-btn_header {
  margin-top: 11px;
  color: $secondary-btn-color;
  background-color: $primary-btn-color;
}

//MAIN
main {
  border-bottom: 4px solid $primary-color;
  padding-bottom: 40px;
}
//MAIN - ABOUT
.section-title {
  color: $primary-title-color;
  font-size: 22px;
  line-height: 1.2;
}
.section-title_about {
  padding: 35px 0 14px 0px;
}

.slider {
  position: relative;
  width: 300px;
  margin: 0 auto;
  padding-bottom: 10px;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}
.bx-prev,
.bx-next {
  display: none !important;
}
.slide {
  @include border-radius(4px);
  width: 300px;
  height: 240px;
  position: relative;
  margin: 0 auto 10px;
  color: $secondary-title-color;
  outline: 0;
}
.slide_1 {
  background: url(../img/slider-img1.jpg) no-repeat;
  background-size: 137% auto;
  background-position: 57.5% -27px;
}
.slide_2 {
  background: url(../img/slider-img2.jpg) no-repeat;
  background-size: 133% auto;
  background-position: 29% -19px;
  .slide__overlay {
    padding: 99px 2.33% 0 19px;
  }
  .slide__content {
    letter-spacing: 0.1px;
    line-height: 1.15;
    padding-top: 6px;
  }
}
.slide_3 {
  background: url(../img/slider-img3.jpg) no-repeat;
  background-size: 136% auto;
  background-position: 50.5% -22px;
}
.slide__overlay {
  @include border-radius(4px);
  width: 300px;
  height: 240px;
  padding: 69px 1.66% 0 20px;
  background-color: rgba(255,133,35,0);
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.6), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.6), rgba(0,0,0,0));
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,.6), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.6), rgba(0,0,0,0));
  background-image: linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,0));
}
.slide__info-title {
  @include border-radius(10px);
  display: block;
  width: 70px;
  height: 20px;
  line-height: 21px;
  background-color: $primary-color;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  padding: 0 0 0 4px;
  margin-left: 1px;
}
.slide__title {
  font-size: 24px;
  font-weight: 700;
  padding: 15px 0 5px 0;
  line-height: 1.23;
}
.slide__content {
  font-family: $content-font;
  font-size: 14px;
  color: $secondary-content-color;
  font-weight: 300;
  padding: 7px 0 0 0;
  line-height: 1.21;
  letter-spacing: 0.02px;
}
//MAIN - PARTNERS
.section-title_partners {
  padding: 25px 0 12px 0;
  width: 97.8%;
}
.partner {
  width: 235px;
  margin: 0 auto;
  font-size: 14px;
  position: relative;
  padding: 2px 0 2px;
}
.parner__link {
  text-decoration: none;
  display: block;
  &:hover {
  filter: brightness(110%);
  transition: 0.4s;
  }
}
.partner__photo {
  @include border-radius(50%);
  width: 120px;
  height: 120px;
  margin: 0 auto;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    right: -4px;
    bottom: -6px;
  }
}
.partners-wrapper {
  display: table;
  width: 100%;
}
.partner:first-of-type {
  display: table-caption;
  .partner__photo {
    background: url(../img/bradley-hunter1.jpg) no-repeat;
    background-position: -2px -1px;
    &:after {
      @include sprite($tv-icon);
    }
  }
}
.partner:nth-of-type(2) {
  left: -2px;
  top: -1px;
  .partner__photo {
    background: url(../img/heather-walker.jpg) no-repeat;
    background-position: -1px -2px;
    &:after {
      @include sprite($tea-icon);
    }
  }
}
.partner:nth-of-type(3) {
  display: table-header-group;
  .partner__photo {
    background: url(../img/lucas-marsha.jpg) no-repeat;
    background-position: -3px -2px;
    &:after {
      @include sprite($drink-icon);
      bottom: -5px;
    }
  }
}
.partner:nth-of-type(4) {
  display: table-footer-group;
  .partner__photo {
    background: url(../img/bradley-hunter2.jpg) no-repeat;
    background-position: -3px -2px;
    &:after {
      @include sprite($plane-icon);
    }
  }
}
.partner__name {
  display: block;
  text-align: center;
  color: $primary-title-color;
  font-weight: 700;
  padding: 20px 2px 5px 0;
}
.partner__info {
  color: $primary-content-color;
  font-family: $content-font;
  font-weight: 300;
  text-align: center;
  padding: 9px 2px 25px 0;
  letter-spacing: 0.1px;
  line-height: 1.25;
  width: 222px;
  margin: 0 auto;
}
.search-btn_partners {
  margin-top: 1px;
  position: relative;
  left: -2px;
  line-height: 36px;
  color: $primary-btn-color;
  border: 2px solid $primary-btn-color;
}

// MAIN - ACTIVITIES
.section-title_activities {
  padding: 35px 0 8px;
}
.activities__sizer,
.activities__item,
.activities__item_width2 {
  width: 100%;
}
.activities__item {
  height: 130px;
  float: left;
  padding: 5px 10px;
}
.activities__link {
  text-decoration: none;
}
.activities__item-bg {
  @include border-radius(4px);
  background: $primary-title-color;
  width: 100%;
  height: 100%;
  position: relative;
}
.activities__photo {
  @include border-radius(4px);
  @include opacity(70);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  &:hover {
    @include opacity(90);
    transition: 0.6s;
  }
}
.activities__text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  color: $secondary-title-color;
  font-size: 22px;
  transform: translate(-50%, -50%);
  margin-right: -50%;
  font-weight: 700;
  width: 85%;
}

// MAIN - FIND ACTIVITIES
.find-activities {
  position: relative;
  left: -2px;
}
.section-title_find-activities {
  padding: 32px 0 10px 0;
  position: relative;
  left: 1px;
}
.find-activities__content {
  color: $primary-title-color;
  font-family: $content-font;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  padding: 2px 0 5px 0;
}
.find-activities__form {
  width: 280px;
  margin: 0 auto;
  padding-top: 13px;
  .find-activities__input {
    @include border-radius(4px);
    @include box-shadow(0 1px 0 #eee);
    @include placeholder {
      color: #999;
      font-family: $content-font;
      font-size: 14px;
      font-weight: 300;
    }
    outline: 0;
    padding-left: 15px;
    width: 280px;
    height: 40px;
    border: 1px solid #ccc;
  }
  .search-btn_find-activities {
    color: $secondary-btn-color;
    background-color: $primary-btn-color;
    border: 0;
    outline: 0;
    margin-top: 10px;
    font-family: inherit;
    line-height: 38px;
    &:hover {
      cursor: pointer;
    }
  }
}

// FOOTER
footer {
  padding: 18px 0 18px 0;
  .container {
    position: relative;
    left: -1px;
  }
}
.logo_footer {
  color: $primary-color;
  font-size: 16px;
  letter-spacing: 0.8px;
}
.site-navigation {
  padding: 14px 0 17px 0;
  font-size: 14px;
  .site-navigation__column-title {
    color: $primary-title-color;
  }
  .menu {
    padding: 6px 0 16px 0;
    width: 240px;
    margin: 0 auto;
    padding-left: 22px;
  }
  .menu__item {
    display: inline-block;
    margin-right: 10px;
  }
  .menu__link {
    color: $primary-content-color;
    font-family: $content-font;
    font-weight: 300;
    text-decoration: none;
  }
}
.copyrights {
  width: 110px;
  margin: 0 auto;
}
.copyrights__content {
  padding-bottom: 8px;
  color: $secondary-content-color;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}
.copyrights__image {
  display: block;
}
