// 768 - HEADER
header {
  height: 700px;
  background-position: center center;
}
.logo_header {
  float: left;
  padding: 48px 0 22px;
  margin-left: 6.38%;
}
.authorization {
  float: right;
  width: 172px;
  padding: 37px 0 17px;
  margin-right: 6.51%;
}
.header__title {
  clear: both;
  font-size: 52px;
  width: 70%;
  margin: 0 auto;
  padding: 124px 4px 10px 0;
  line-height: 1.215;
}
.header__subtitle {
  font-size: 24px;
  padding: 14px 2px 5px 0;
  width: 100%;
}
.search-btn_header {
  margin-top: 29px;
  width: 225px;
  padding-right: 3px;
}
//768 - MAIN - ABOUT
main {
  padding-bottom: 100px;
}
.section-title_about {
  padding: 95px 0 14px 7px;
}
.slider {
  float: left;
  height: 420px;
  width: 33.3333333%;
  padding: 10px;
  margin-top: 10px;
}
.slide {
  width: 100%;
  height: 400px;
  margin: 0;
  background-size: initial;
}
.slide_2 {
  background-position: 44% -16px;
  .slide__overlay {
    padding-top: 259px;
  }
  .slide__content {
    line-height: 1.23;
    padding-top: 4px;
  }
}
.slide_1 {
  background-position: 53.5% -20px;
}
.slide_3 {
  background-position: 49% -23px;
}
.slide__overlay {
  width: 100%;
  height: 100%;
  padding: 212px 1.66% 0 19px;
}
.slide__info-title {
  line-height: 20px;
}
.slide__title {
  padding-top: 16px;
  line-height: 1.2;
}
.slide__content {
  padding: 6px 0 0 0;
  line-height: 1.23;
  letter-spacing: -0.075px;
}
.bx-prev,
.bx-next {
  display: inline-block !important;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  width: 50px;
  height: 55px;
  top: 49px;
  text-indent: -9999px;
}
.bx-prev {
  background: url(../img/slider-left-arrow.png) 20px 0 no-repeat;
  left: 10px;
}
.bx-next {
  background: url(../img/slider-right-arrow.png) -1px 0 no-repeat;
  right: 10px;
}
.slider:nth-of-type(2) {
  .bx-prev {
    left: 10px;
    background-position-x: 10px;
  }
  .bx-next {
    right: 10px;
    background-position-x: 10px;
  }
}
//768 - MAIN - PARTNERS
.section-title_partners {
  padding: 87px 0.7652% 20px 0;
  width: 100%;
}
.partners-wrapper {
  display: block;
}
.partner {
  float: left;
  margin: 11px 0 19px;
  padding-top: 0;
  &:nth-child(odd) {
    margin-left: 18.2%;
  }
  &:nth-child(even) {
    margin-left: 2.7%;
  }
}
.partner:nth-of-type(2) {
  left: 0;
  top: 0;
}
.partner:nth-of-type(3),
.partner:nth-of-type(4) {
  left: 0;
  margin-bottom: 9px;
}
.search-btn_partners {
  width: 192px;
  clear: both;
  margin-top: 0;
}
// 768 - MAIN - ACTIVITIES
.activities {
  padding-top: 62px;
}
.section-title_activities {
  padding-bottom: 23px;
}
.activities__sizer,
.activities__item {
  width: 33.333%;
}
.activities__item {
  height: 330px;
  padding: 10px 10px;
}
.activities__item_width2 {
  width: 66.666%;
}
// 768 - MAIN - FIND ACTIVITIES
.find-activities {
  left: 0;
  padding-top: 54px;
}
.section-title_find-activities {
  padding-right: 3px;
  left: 0;
}
.find-activities__content {
  padding: 22px 2px 10px 0;
}
.find-activities__form {
  width: 416px;
  padding: 30px 0 0 2px;
  input {
    display: inline-block;
    vertical-align: top;
  }
  .find-activities__input {
    width: 240px;
  }
  .search-btn_find-activities {
    width: 160px;
    margin: 0 0 0 6px;
  }
}
// 768 FOOTER
footer {
  padding: 38px 0 21px 0;
  .container {
    left: 0;
  }
}
.logo_footer,
.site-navigation,
.copyrights {
  float: left;
}
.logo_footer {
  width: 29%;
}
.site-navigation {
  width: 44.65%;
  padding: 0;
  .site-navigation__column {
    float: left;
    width: 50%;
    padding-left: 43px;
  }
  .site-navigation__column-title {
    text-align: left;
  }
  .menu {
    padding: 11px 0 16px 0;
    width: auto;
    line-height: 1.76;
  }
  .menu__item {
    display: block;
    margin: 0;
  }
  .menu__link {
    color: #666;
    font-family: $content-font;
    font-weight: 300;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.copyrights {
  margin-left: 6.9%;
  padding-top: 1px;
}
.copyrights__content {
  text-align: right;
}
