/* font-family: "Montserrat Regular"; */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* "Montserrat Bold" */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

/* "Roboto Regular"; */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* "Roboto Bold" */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

/* "Roboto Bold Italic" */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700; }

/* "Roboto Italic" */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal; }

/* "Roboto Light" */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }

/* "Roboto Light Italic" */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300; }

/* "Roboto Medium" */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }

/* "Roboto Medium Italic" */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500; }

/* "Roboto Thin" */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100; }

/* "Roboto Thin Italic" */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 100; }

/* "Roboto Black" */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900; }

/* "Roboto Black Italic" */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 900; }

/* @include transition(all,2s,ease-out); */
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  overflow-x: hidden; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

/*HEADER*/
.container {
  min-width: 320px;
  margin: 0 auto; }

header {
  width: 100%;
  height: 540px;
  color: #fff;
  background: #d1d1d0 url(../img/header-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center; }

.authorization {
  padding: 19px 0 19px;
  width: 194px;
  margin: 0 auto; }

.btn {
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: 700; }

.authorization__btn {
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  border-radius: 18px;
  float: left;
  font-size: 14px;
  color: #fff;
  height: 36px;
  line-height: 34px;
  border: 2px solid transparent; }
  .authorization__btn:hover {
    border-color: #fff; }

.authorization__btn_login {
  width: 82px; }

.authorization__btn_signup {
  width: 90px; }

.logo {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }

.logo_header {
  color: #fff;
  font-size: 20px;
  padding: 99px 0 20px 0;
  letter-spacing: 0.9px; }

.title {
  text-align: center;
  font-weight: 700; }

.header__title {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 10px 0 9px 2px; }

.header__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  width: 220px;
  margin: 0 auto;
  padding: 0 0 5px 0;
  line-height: 1.2; }

.search-btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  width: 280px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  margin: 0 auto; }

.search-btn_header {
  margin-top: 11px;
  color: #fff;
  background-color: #ff4e50; }

main {
  border-bottom: 4px solid #ff4e50;
  padding-bottom: 40px; }

.section-title {
  color: #333;
  font-size: 22px;
  line-height: 1.2; }

.section-title_about {
  padding: 35px 0 14px 0px; }

.slider {
  position: relative;
  width: 300px;
  margin: 0 auto;
  padding-bottom: 10px;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0); }

.bx-prev,
.bx-next {
  display: none !important; }

.slide {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  width: 300px;
  height: 240px;
  position: relative;
  margin: 0 auto 10px;
  color: #fff;
  outline: 0; }

.slide_1 {
  background: url(../img/slider-img1.jpg) no-repeat;
  background-size: 137% auto;
  background-position: 57.5% -27px; }

.slide_2 {
  background: url(../img/slider-img2.jpg) no-repeat;
  background-size: 133% auto;
  background-position: 29% -19px; }
  .slide_2 .slide__overlay {
    padding: 99px 2.33% 0 19px; }
  .slide_2 .slide__content {
    letter-spacing: 0.1px;
    line-height: 1.15;
    padding-top: 6px; }

.slide_3 {
  background: url(../img/slider-img3.jpg) no-repeat;
  background-size: 136% auto;
  background-position: 50.5% -22px; }

.slide__overlay {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  width: 300px;
  height: 240px;
  padding: 69px 1.66% 0 20px;
  background-color: rgba(255, 133, 35, 0);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.6), transparent);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.6), transparent);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.6), transparent);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.6), transparent);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent); }

.slide__info-title {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  display: block;
  width: 70px;
  height: 20px;
  line-height: 21px;
  background-color: #ff4e50;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  padding: 0 0 0 4px;
  margin-left: 1px; }

.slide__title {
  font-size: 24px;
  font-weight: 700;
  padding: 15px 0 5px 0;
  line-height: 1.23; }

.slide__content {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #ccc;
  font-weight: 300;
  padding: 7px 0 0 0;
  line-height: 1.21;
  letter-spacing: 0.02px; }

.section-title_partners {
  padding: 25px 0 12px 0;
  width: 97.8%; }

.partner {
  width: 235px;
  margin: 0 auto;
  font-size: 14px;
  position: relative;
  padding: 2px 0 2px; }

.parner__link {
  text-decoration: none;
  display: block; }
  .parner__link:hover {
    filter: brightness(110%);
    transition: 0.4s; }

.partner__photo {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  position: relative; }
  .partner__photo:after {
    content: '';
    position: absolute;
    right: -4px;
    bottom: -6px; }

.partners-wrapper {
  display: table;
  width: 100%; }

.partner:first-of-type {
  display: table-caption; }
  .partner:first-of-type .partner__photo {
    background: url(../img/bradley-hunter1.jpg) no-repeat;
    background-position: -2px -1px; }
    .partner:first-of-type .partner__photo:after {
      background-image: url(../img/sprite.png);
      background-position: 0px -43px;
      width: 41px;
      height: 41px;
      background-repeat: no-repeat; }

.partner:nth-of-type(2) {
  left: -2px;
  top: -1px; }
  .partner:nth-of-type(2) .partner__photo {
    background: url(../img/heather-walker.jpg) no-repeat;
    background-position: -1px -2px; }
    .partner:nth-of-type(2) .partner__photo:after {
      background-image: url(../img/sprite.png);
      background-position: -43px 0px;
      width: 41px;
      height: 41px;
      background-repeat: no-repeat; }

.partner:nth-of-type(3) {
  display: table-header-group; }
  .partner:nth-of-type(3) .partner__photo {
    background: url(../img/lucas-marsha.jpg) no-repeat;
    background-position: -3px -2px; }
    .partner:nth-of-type(3) .partner__photo:after {
      background-image: url(../img/sprite.png);
      background-position: -43px -43px;
      width: 41px;
      height: 40px;
      background-repeat: no-repeat;
      bottom: -5px; }

.partner:nth-of-type(4) {
  display: table-footer-group; }
  .partner:nth-of-type(4) .partner__photo {
    background: url(../img/bradley-hunter2.jpg) no-repeat;
    background-position: -3px -2px; }
    .partner:nth-of-type(4) .partner__photo:after {
      background-image: url(../img/sprite.png);
      background-position: 0px 0px;
      width: 41px;
      height: 41px;
      background-repeat: no-repeat; }

.partner__name {
  display: block;
  text-align: center;
  color: #333;
  font-weight: 700;
  padding: 20px 2px 5px 0; }

.partner__info {
  color: #666;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 9px 2px 25px 0;
  letter-spacing: 0.1px;
  line-height: 1.25;
  width: 222px;
  margin: 0 auto; }

.search-btn_partners {
  margin-top: 1px;
  position: relative;
  left: -2px;
  line-height: 36px;
  color: #ff4e50;
  border: 2px solid #ff4e50; }

.section-title_activities {
  padding: 35px 0 8px; }

.activities__sizer,
.activities__item,
.activities__item_width2 {
  width: 100%; }

.activities__item {
  height: 130px;
  float: left;
  padding: 5px 10px; }

.activities__link {
  text-decoration: none; }

.activities__item-bg {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background: #333;
  width: 100%;
  height: 100%;
  position: relative; }

.activities__photo {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  opacity: 0.7;
  -webkit-opacity: 0.7;
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%; }
  .activities__photo:hover {
    opacity: 0.9;
    -webkit-opacity: 0.9;
    -khtml-opacity: 0.9;
    -moz-opacity: 0.9;
    filter: alpha(opacity=90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$p)";
    transition: 0.6s; }

.activities__text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transform: translate(-50%, -50%);
  margin-right: -50%;
  font-weight: 700;
  width: 85%; }

.find-activities {
  position: relative;
  left: -2px; }

.section-title_find-activities {
  padding: 32px 0 10px 0;
  position: relative;
  left: 1px; }

.find-activities__content {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  padding: 2px 0 5px 0; }

.find-activities__form {
  width: 280px;
  margin: 0 auto;
  padding-top: 13px; }
  .find-activities__form .find-activities__input {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 0 #eee;
    -moz-box-shadow: 0 1px 0 #eee;
    box-shadow: 0 1px 0 #eee;
    outline: 0;
    padding-left: 15px;
    width: 280px;
    height: 40px;
    border: 1px solid #ccc; }
    .find-activities__form .find-activities__input::-webkit-input-placeholder {
      color: #999;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 300; }
    .find-activities__form .find-activities__input:-moz-placeholder {
      color: #999;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 300; }
    .find-activities__form .find-activities__input::-moz-placeholder {
      color: #999;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 300; }
    .find-activities__form .find-activities__input:-ms-input-placeholder {
      color: #999;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 300; }
  .find-activities__form .search-btn_find-activities {
    color: #fff;
    background-color: #ff4e50;
    border: 0;
    outline: 0;
    margin-top: 10px;
    font-family: inherit;
    line-height: 38px; }
    .find-activities__form .search-btn_find-activities:hover {
      cursor: pointer; }

footer {
  padding: 18px 0 18px 0; }
  footer .container {
    position: relative;
    left: -1px; }

.logo_footer {
  color: #ff4e50;
  font-size: 16px;
  letter-spacing: 0.8px; }

.site-navigation {
  padding: 14px 0 17px 0;
  font-size: 14px; }
  .site-navigation .site-navigation__column-title {
    color: #333; }
  .site-navigation .menu {
    padding: 6px 0 16px 0;
    width: 240px;
    margin: 0 auto;
    padding-left: 22px; }
  .site-navigation .menu__item {
    display: inline-block;
    margin-right: 10px; }
  .site-navigation .menu__link {
    color: #666;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-decoration: none; }

.copyrights {
  width: 110px;
  margin: 0 auto; }

.copyrights__content {
  padding-bottom: 8px;
  color: #ccc;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.9px; }

.copyrights__image {
  display: block; }

@media screen and (min-width: 768px) {
  header {
    height: 700px;
    background-position: center center; }
  .logo_header {
    float: left;
    padding: 48px 0 22px;
    margin-left: 6.38%; }
  .authorization {
    float: right;
    width: 172px;
    padding: 37px 0 17px;
    margin-right: 6.51%; }
  .header__title {
    clear: both;
    font-size: 52px;
    width: 70%;
    margin: 0 auto;
    padding: 124px 4px 10px 0;
    line-height: 1.215; }
  .header__subtitle {
    font-size: 24px;
    padding: 14px 2px 5px 0;
    width: 100%; }
  .search-btn_header {
    margin-top: 29px;
    width: 225px;
    padding-right: 3px; }
  main {
    padding-bottom: 100px; }
  .section-title_about {
    padding: 95px 0 14px 7px; }
  .slider {
    float: left;
    height: 420px;
    width: 33.3333333%;
    padding: 10px;
    margin-top: 10px; }
  .slide {
    width: 100%;
    height: 400px;
    margin: 0;
    background-size: initial; }
  .slide_2 {
    background-position: 44% -16px; }
    .slide_2 .slide__overlay {
      padding-top: 259px; }
    .slide_2 .slide__content {
      line-height: 1.23;
      padding-top: 4px; }
  .slide_1 {
    background-position: 53.5% -20px; }
  .slide_3 {
    background-position: 49% -23px; }
  .slide__overlay {
    width: 100%;
    height: 100%;
    padding: 212px 1.66% 0 19px; }
  .slide__info-title {
    line-height: 20px; }
  .slide__title {
    padding-top: 16px;
    line-height: 1.2; }
  .slide__content {
    padding: 6px 0 0 0;
    line-height: 1.23;
    letter-spacing: -0.075px; }
  .bx-prev,
  .bx-next {
    display: inline-block !important;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    width: 50px;
    height: 55px;
    top: 49px;
    text-indent: -9999px; }
  .bx-prev {
    background: url(../img/slider-left-arrow.png) 20px 0 no-repeat;
    left: 10px; }
  .bx-next {
    background: url(../img/slider-right-arrow.png) -1px 0 no-repeat;
    right: 10px; }
  .slider:nth-of-type(2) .bx-prev {
    left: 10px;
    background-position-x: 10px; }
  .slider:nth-of-type(2) .bx-next {
    right: 10px;
    background-position-x: 10px; }
  .section-title_partners {
    padding: 87px 0.7652% 20px 0;
    width: 100%; }
  .partners-wrapper {
    display: block; }
  .partner {
    float: left;
    margin: 11px 0 19px;
    padding-top: 0; }
    .partner:nth-child(odd) {
      margin-left: 18.2%; }
    .partner:nth-child(even) {
      margin-left: 2.7%; }
  .partner:nth-of-type(2) {
    left: 0;
    top: 0; }
  .partner:nth-of-type(3),
  .partner:nth-of-type(4) {
    left: 0;
    margin-bottom: 9px; }
  .search-btn_partners {
    width: 192px;
    clear: both;
    margin-top: 0; }
  .activities {
    padding-top: 62px; }
  .section-title_activities {
    padding-bottom: 23px; }
  .activities__sizer,
  .activities__item {
    width: 33.333%; }
  .activities__item {
    height: 330px;
    padding: 10px 10px; }
  .activities__item_width2 {
    width: 66.666%; }
  .find-activities {
    left: 0;
    padding-top: 54px; }
  .section-title_find-activities {
    padding-right: 3px;
    left: 0; }
  .find-activities__content {
    padding: 22px 2px 10px 0; }
  .find-activities__form {
    width: 416px;
    padding: 30px 0 0 2px; }
    .find-activities__form input {
      display: inline-block;
      vertical-align: top; }
    .find-activities__form .find-activities__input {
      width: 240px; }
    .find-activities__form .search-btn_find-activities {
      width: 160px;
      margin: 0 0 0 6px; }
  footer {
    padding: 38px 0 21px 0; }
    footer .container {
      left: 0; }
  .logo_footer,
  .site-navigation,
  .copyrights {
    float: left; }
  .logo_footer {
    width: 29%; }
  .site-navigation {
    width: 44.65%;
    padding: 0; }
    .site-navigation .site-navigation__column {
      float: left;
      width: 50%;
      padding-left: 43px; }
    .site-navigation .site-navigation__column-title {
      text-align: left; }
    .site-navigation .menu {
      padding: 11px 0 16px 0;
      width: auto;
      line-height: 1.76; }
    .site-navigation .menu__item {
      display: block;
      margin: 0; }
    .site-navigation .menu__link {
      color: #666;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      text-decoration: none; }
      .site-navigation .menu__link:hover {
        text-decoration: underline; }
  .copyrights {
    margin-left: 6.9%;
    padding-top: 1px; }
  .copyrights__content {
    text-align: right; } }

@media screen and (min-width: 960px) {
  .container {
    max-width: 960px; }
  .logo_header {
    margin-left: 1.041666%; }
  .authorization {
    margin-right: 1.041666%; }
  .header__title {
    width: 60%;
    padding: 125px 2px 10px 0;
    line-height: 1.205; }
  .header__subtitle {
    padding: 14px 0px 6px 0; }
  .search-btn_header {
    padding-right: 1px; }
  .section-title_about {
    padding: 95px 3px 14px 0px; }
  .slide_1 {
    background-position: 52.5% -20px; }
  .slide_3 {
    background-position: 49.9% -23px; }
  .bx-prev,
  .bx-next {
    top: 162px; }
  .bx-prev {
    background-position: 21px 0; }
  .bx-next {
    background-position: 0 0; }
  .slider:nth-of-type(2) .bx-prev {
    left: 13px;
    background-position-x: 19px; }
  .slider:nth-of-type(2) .bx-next {
    right: 13px;
    background-position-x: 3px; }
  .slide__info-title {
    line-height: 21px; }
  .slide__overlay {
    padding: 229px 10px 0 20px; }
  .slide__title {
    padding-top: 15px;
    line-height: 1.23; }
  .slide__content {
    line-height: 1.22;
    letter-spacing: 0; }
  .section-title_partners {
    padding: 86px 3px 20px 0; }
  .partners .partner {
    width: 25%;
    padding-left: 1px;
    margin: 12px 0 9px;
    top: 0; }
  .search-btn_partners {
    left: 0; }
  .section-title_activities {
    padding-right: 2px; }
  .section-title_find-activities {
    padding: 33px 2px 11px 0; }
  .logo_footer {
    width: 16.8%; }
  .site-navigation {
    width: 63.765%;
    padding-left: 88px; }
    .site-navigation .site-navigation__column {
      width: 30.5%;
      padding: 0; } }
