/* font-family: "Ubuntu Regular"; */
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu/Ubuntu-R.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* "Ubuntu Regular Italic"; */
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu/Ubuntu-RI.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
/* "Ubuntu Bold" */
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu/Ubuntu-B.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
/* "Ubuntu Bold Italic" */
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu/Ubuntu-BI.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}
/* "Ubuntu Light" */
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu/Ubuntu-L.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
/* "Ubuntu Light Italic" */
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu/Ubuntu-LI.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}
/* "Ubuntu Medium" */
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu/Ubuntu-M.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
/* "Ubuntu Medium Italic" */
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu/Ubuntu-MI.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
}

/* font-family: "Ubuntu Condensed"; */
@font-face {
  font-family: "Ubuntu Condensed";
  src: url("../fonts/ubuntu/Ubuntu-C.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
