$body-font:              Ubuntu, sans-serif;
$header-menu-font:       14px "Ubuntu Condensed", sans-serif;
$article-content-font:   13px Arial, Helvetica, sans-serif;

$social-bar-icons: url('../img/sprite.svg');
