main{
	padding: 60px 75px 0 65px;
	width: 100%;
}

.keyword{
	padding-bottom: 10px;
	font-family: Merriweather;
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 0;
}

.about-page img{
	width: 320px !important;
	height: 540px !important;
	float: right !important;
	margin: -57px 0 75px 55px;
	
}



.about-page-text{
	font-family: Arvo;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}

p{
	margin: 40px 0;
}

p:first-child{
	margin-top: 57px;
}

p:last-child{
	margin-bottom: 73px;
}