*{
	box-sizing: border-box;
}

.clearfix{
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

header{
	text-align: center;
	margin-bottom: 2.7px;
	box-shadow: 1px 2.7px 2px rgba(0, 0, 0, 0.3);
}

b{
	font-weight: 700;
}

header .name{
	margin: 63px 0 45px;
}

.name-name{
	font-family: Merriweather;
}

header h3{
	margin-top: 10px;
	color: #707070;
	font-family: Arvo;
	font-size: 20px;
}


.name h1{
	color: #303030;
	font-size: 40px;
	font-family: "Open Sans";
	font-weight: 300;
}


.name a{
	text-decoration: none;
	
}
.full-gray-line{
	border-bottom: 2px solid #909090;
}

nav{
	margin: 20px auto 0;
	padding-bottom: 11px;
}
nav li{
	display: inline-block;
	margin-right: 25px;
	padding-bottom: 7px;
	border-bottom: 2px solid transparent;
	transition: all 0.5s ease 0s;
}

nav li:not(.separator):hover{
	border-bottom: 2px solid black;
	transition: all 0.5s ease 0s;
}

nav li:last-child{
	margin-right: 0;
}

nav a{
	text-decoration: none;
	font-family: Merriweather;
	font-size: 14px;
	color: black;
	text-transform: uppercase;	
}


.wrapper{
	padding: 40px 100px 67px;
	background-image: url(../img/pattern.png);
	background-size: 30%;
}


main{
	width: 60%;
	float: left;
	background-color: white;
	box-shadow: 2.5px 2.6px 3px rgba(0, 0, 0, 0.3);
}

.date{
	width: 100px;
	text-align: center;
	float: left;
	font-family: Merriweather;
}

.date-number{
	padding: 34px 0 13px;
	font-size: 44px;
	line-height: 20px;
}

.number-border{
	width: 42px;
	height: 1px;
	background-color: #23303f;
	margin: 0 auto;
}

.date-month{
	margin: 8px 0;
	font-size: 22px;
	color: #505050;
}

.date-year{
	color: #707070;
	font-size: 12px;
}

.article{
	width: calc(100% - 100px);
	float: left;
}

.article img{
	display: block;
	width: 100%;
}

article h2{
	margin: 25px 0;
	font-size: 24px;
	font-family: 'Merriweather';
	line-height: 36px;
	color: #010101;
	transition: all 1s ease 0s;
}

article h2:hover{
	transition: all 0.5s ease 0s;
}

.article a {
	text-decoration: none;
}

.description{
	font-size: 15px;
	font-family: 'Arvo';
	line-height: 20px;
	color: #505050;
}

.button{
	margin: 38px 0 73px;
}

.article .button a{
	border: 1px solid black;
	padding: 13px 20px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-size: 11px;
	line-height: 20px;
	font-family: 'Arvo';
	transition: all 0.5s ease 0s;
}

.article .button a:hover{
	background-color: #909090;
	border: 1px solid #909090;
	color: white;
	transition: all 0.5s ease 0s;
}


aside{
	margin-left: 5%;
	width: 35%;
	float: left;
}

.about, .popular, .archive{
	box-shadow: 1.5px 2.6px 3px rgba(0, 0, 0, 0.3);
}
.about{
	text-align: center;
	background-color: white;
	padding-bottom: 37px;
}

.keyword{
	display: inline-block;
	padding: 24px 0 5px;
	border-bottom: 2px solid #909090;;
	font-family: Merriweather;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 32px;
}

.about img{
	width: 165px;
	height: 165px;
	display: block;
	margin: 0 auto;
	border: 5px solid #909090;
}

.about-text{
	width: 160px;
	margin: 31px auto 0;
	color: #505050;
	font-family: Arvo;
	font-size: 14px;
	line-height: 20px;
}

.popular{
	margin-top: 38px;
	background-color: white;
	padding: 0 15px 30px;
}

.center{
	text-align: center;
}

.popular .post{
	position: relative;
	margin-bottom: 20px;
}

.popular a:last-child .post{
	margin-bottom: 0;
}



.popular .post img{
	display: block;
	width: 100px;
	height: 100px;
	margin-right: 10px;
	float: left;
}

.popular .post .post-text{
	width: calc(100% - 110px);
	float: left;
	margin: 10px 0;
	color: black;
	font-family: Georgia;
	font-size: 15px;
	line-height: 18px;
	transition: color 1s ease 0s;
}

.popular .post .post-date{
	position: absolute;
	left: 110px;
	bottom: 0;
	color: #505050;
	font-family: Arvo;
	font-size: 12px;
	line-height: 30px;
}

.popular a:hover .post-text{
	color: #909090;
	transition: color 0.5s ease 0s;
	
}

.archive{
	margin-top: 40px;
	background-color: white;
}

.test1{
	list-style-type: upper-roman;
}

.archive .keyword{
	margin-bottom: 42px;
}

.archive-content{
	padding: 0 35px 45px 20px;
	font-family: Arvo;
	color: #303030;
}

.archive-content li{
	margin: 15px 0;
	line-height: 18px;
	font-size: 14px;
}

li.archive-month{
	margin-left: 10px;
}

.archive-content h4, .archive-content h5{
	font-size: 15px;
}

.archive-content h4:hover, .archive-content h5:hover{
	cursor: pointer;
}


.archive-month ul{
	margin-left: 10px;
}

.archive-month:last-child ul li:last-child{
	margin-bottom: -15px;
}

.archive a{
	color: #303030;
	text-decoration: none;
}

.archive-month ul li a{
	line-height: 20px;
}

footer{
	min-height: 115px;
	background-color: #383838;
	padding: 45px 0 40px 100px;
}

.footer-text{
	width: 40%;
	font-family: Merriweather;
	font-size: 14px;
	font-weight: 400;
	color: #909090;
	line-height: 18px;
}

.white-text{
	color: white;
}